<% @front_matter = { title: "Hi" } %>


<%= render "content/helping-you-become-a-teacher/intro" %>

<%= render "content/helping-you-become-a-teacher/teaching-events" %>

<%= render "content/helping-you-become-a-teacher/train-to-teach-events" %>

<p><mark>CTA: Find a Train to teach event</mark></p>

<%= render "content/helping-you-become-a-teacher/online-events" %>

<p><mark>CTA: Find an online event</mark></p>

<%= render "content/helping-you-become-a-teacher/school-and-university-events" %>

<p><mark>CTA: Find a School and university event</mark></p>

<%= render "content/helping-you-become-a-teacher/teacher-training-advisers" %>

<p><mark>CTA: Get an adviser</mark></p>

<%= render "content/helping-you-become-a-teacher/coming-to-train-or-teach-in-the-uk" %>

<%= render "content/helping-you-become-a-teacher/email-updates" %>

<p><mark>CTA: Email updates</mark></p>
